<div>
  <div class="static-card">
    <div class="card-header">About this project</div>
    <div class="card-copy">
      <p>
        This is one instance of a small project for creating a simple responsive app for finding a specific thing on OpenStreetMap.
        You can find more information about this project on <a href="https://github.com/codeformunich/FinderApp" target="_blank">Github</a>.
      </p>
      <p>
        The project was started by the Open Knowledge Lab Munich as part of the CodeForGermany initiative.
        <a href="http://codefor.de"><img class="about-logo" src="http://codefor.de/img/CFG_logo.svg" alt="CodeForGermany Logo"/></a>
      </p>
    </div>
  </div>
  <div class="static-card">
    <div class="card-header">License</div>
    <div class="card-copy">
      <p>
        This project is licensed under the <a href="http://www.apache.org/licenses/">Apache License, Version 2.0.</a>
      </p>
    </div>
  </div>
</div>
