<div class="entry-wrapper">
  <div class="cards-container">
    <div class="entry-card">
      <div class="card-header">
          Finde {{title}} in deiner Nähe
      </div>
      <div class="card-copy">
        <button class="primary-button" data-action="locate">Nutze meinen aktuellen Standort</button>
        <div>
          <form>
            <label for="postcode">Suche mit Postleitzahl:</label>
            <div class="card-error" data-hook="postcode-error"></div>
            <button type="submit" class="secondary-button">Suchen</button>
            <div class="card-inputs">
              <input type="tel" name="postcode" value=""
                placeholder="PLZ"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
