<div class="entry-wrapper">
  <div class="cards-container">

    <div class="entry-card">
      <div class="card-header">
          Finde Spielplätze in deiner Nähe
      </div>
      <div class="card-copy">
        <button class="primary-button" data-action="locate">Nutze meinen aktuellen Standort</button>
        <div>
          Oder gib selbst eine Postleitzahl ein: <br>
          <form>
            <input type="tel" name="postcode" value="" placeholder="PLZ">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
