<div class="navigation-wrapper">
  <a href="" class="logo">
    <img src="images/logo.png" />
  </a>
  <a href="" class="navigation-menu-button" data-action="show-menu">MENU</a>
  <div class="nav">
    <ul id="navigation-menu">
      <li class="nav-link" data-action="about">
        <a href="javascript:void(0)">About</a>
      </li>
    </ul>
  </div>
</div>
