<ul class="cards">
  {{!-- loading elements --}}
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
  <li class="loading-card">
    <div class="card-header"><span>eeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
    <div class="card-copy"><p><span>eeeeeeeeeeeeeeee</span>
      <span>eeeeeeeeeeeeeeeeeeeeeee</span></p></div>
  </li>
</ul>
