button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.secondary-button {
  color: black;
  font-weight: normal;
  background: $light-gray;

  &:hover{
    background: darken($light-gray, 10);
  }
}
